/*   
    turquoise   #40E0D0
    mid         #2a697c
    darker      #0D3849
    black       #010105

*/

html {
    background-color: #40E0D0;
    height: 100%;
    width: 100%;
    font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    position: relative;
    margin: 0;
    height: 100%;
    top: 0;
}

header {
    background-color: #32ada1;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 10px 5px 5px #0f3a36;
}

header>h1 {
    width: fit-content;
    margin: 0;
}

label {
    padding: 2px;
    border: solid;
    border-color: #010105;
    border-width: 1px;
    background-color: #2a697c;
}

button {
    border-color: #010105;
}

input {
    border-width: 1px;
    border-left-color: #010105;
    border-right-color: #010105;
    border-top: none;
    border-bottom: none;
    background-color: #77e2d7;
}

footer {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    height: 50px;
}

.user-bar {
    margin-top: 8px;
    padding-right: 3%;
    display: flex;
}

#username-div {
    display: inline;
}

#username {
    border-style: solid;
    border-color: #010105;
    border-width: 1px;
}

.room-div {
    padding-top: 10px;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
}


.join-room-div {
    display: flex;
    flex-direction: column;
}

.create-room-div {
    display: flex;
    flex-direction: column;
}

.create-room-div>button {
    background-color: #1D6F75;
}

.join-room-div>button {
    background-color: #1D6F75;
}

#err-room {
    color: red;
}

.tabs-panel {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    height: 60%;
    box-shadow: 10px 5px 5px #0f3a36;
    background-color: #0f3a36;
}

#tabs-buttons {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#tabs-content {
    width: 100%;
    padding-left: 2%;
    background-color: #77e2d7;
    border-color: #010105;
    border-width: 1px;
    border-style: solid;
    border-left: none;
    overflow-y: scroll;
    direction: rtl;
    text-align: left;
}

.tab-content {
    margin-right: 1.5%;
    margin-bottom: 1.5%;
}

.tab-btn {
    border-radius: 10% 0% 0% 10%;
    border-right: none;
    border-width: 1px;
    background-color: #1D6F75;
    font-size: medium;
}