body {
    background-color: #010105;
    font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fdfdfd;
}

footer {
    background-color: #010105;
    padding: 15px;
}

button {
    color: #fdfdfd;
    background-color: #1D6F75;
    border-color: #010105;
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
    min-width: fit-content;
}

button:hover {
    background-color: #3dc3cf;
}

button:active {
    box-sizing: border-box;
    border: 5px solid #b3cfd1;
}

legend {
    background-color: #314446;
    text-align: center;
    height: fit-content;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    box-sizing: border-box;
    border: 2px solid #070d0e;
}

#menu {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #152221;
}

.menu-div {
    /*background-color: #2a697c;*/
    background-color: #152221;
}

.top-buttons {
    display: flex;
    width: 100%;
    height: 15%;
    background-color: #26837a;
    box-sizing: border-box;
    border: 2px solid #070d0e;
}

.top-button {
    border: 0;
}

#select-rom {
    display: flex;
    width: 30%;
}

#select-rom>button {
    width: 33.33%;
    height: 100%;
    overflow-y: hidden;
}

#room-name {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #32ada1;
    color: #010105;

}

#return {
    width: 25%;
    height: 100%;
}

.room-sets-users {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
}

.room-sets-users>legend {
    width: 50%;
}

.users-div {
    width: 50%;
    height: 100%;
    position: relative;
}

#users {
    height: 10vw;
    width: 50vw;
    box-sizing: border-box;
    border: 2px solid #070d0e;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#users>span {
    margin-top: 7px;
    margin-left: 9px;
    margin-right: 9px;
}

#reconnect {
    height: 10vw;
    position: relative;
}

#reconnect>button {
    position: absolute;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
}

#room-settings {
    display: flex;
    flex-direction: column;
    height: 10vw;
    width: 50vw;
    overflow-y: scroll;
    color: #010105;
    background-color: #1D6F75;
    box-sizing: border-box;
    border: 2px solid #070d0e;
}

.room-set {
    padding-top: 3px;
    padding-left: 3px;
    text-align: left;
    height: fit-content;
    margin-left: 2px;

}

#seturbospeed {
    width: 5%;
    min-width: 40px;
}

.save-div {
    width: 100%;
    height: fit-content;
}

.save-header {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.save-title {
    height: fit-content;
    width: 100%;

}

.save-legend {
    height: fit-content;
    width: 50%;
}

.save-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.save-half-body {
    padding-top: 4px;
    padding-bottom: 4px;
    height: 10vw;
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
}

.save-half-body>button {
    height: 10vw;
    width: 45%;

}

#kb-settings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#kb-settings>legend {
    width: 100%;
}

#kb-set {
    width: fit-content;
    display: flex;
}

.btn-set-key {
    height: 100%;
    border-color: #01010560;
}

.key-dir {
    background-color: #36617e;
}

.key-act {
    background-color: #195d8a;
}

.key-sup {
    background-color: #185fa1;
}

.key-met {
    background-color: #1c5c9754;
}

#cheats>textarea {
    margin-right: 20%;
    margin-left: 20%;
    width: 60%;
    background-color: #77e2d7;
    border: none;
}

.leave-div {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#leave {
    width: 20vw;
    background-color: #b92815;
}

#pause {
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 5;
    width: 2vw;
    min-width: fit-content;
    height: 2vw;
    border-radius: 5%;
    background-color: #32ada1;
    opacity: 0.4;
    border: 0.5vw solid #b3cfd1;
}

#notif {
    z-index: 6;
    position: absolute;
    bottom: 10vw;
    left: 1vw;
    background-color: #f5b6573f;
    padding-left: 4px;
    padding-right: 4px;
}

#notif-msg {
}

.ready {
    background-color: aqua;
    color: #010105;
}

.unready {
    background-color: chocolate;
    color: #fdfdfd;
}

.right {
    float: right;
}

.left {
    float: left;
}

.two-row {
    display: flex;
    flex-direction: column;
    height: 10vw;
    width: fit-content;
}

.three-col {
    display: flex;
    justify-content: space-evenly;
    height: 5vw;
}

.three-col>button {
    padding: 0;
    margin: 0;
    width: 5vw;
}

.valid {
    background-color: #35c63a;
}

.invalid {
    background-color: #f73b2a;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 30vw;
    height: fit-content;
    background-color: #070d0e;
    opacity: 0.8;
    color: #fdfdfd;
    text-align: center;
    margin-left: 10vw;
    border-radius: 6px;
    font-weight: lighter;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}


#gba-canvas {
    position: absolute;
    z-index: 0;
}

#vk-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    touch-action: none;
}

.vk-round {
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    display: inline-block;
}


.vk {
    color: rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.25);
    position: absolute;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.vk-hide {
    background-color: transparent !important
}

.vk-touched {
    background-color: rgba(255, 255, 255, 0.75) !important
}